.extra-data-card {
  display: flex;
  margin: .6rem;
  background-color: var(--white-1);
  padding: 0 1.1rem;
  border-radius: 1rem;
  width: 12.1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;

  @media only screen and (max-width: 400px) {
    font-size: 1rem;
    width: 11rem;
    padding: 0;
  }


  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;

    .weather-icon {
      width: 5rem;
      height: 5rem;
    }
  }


  .text-content {
    display: flex;
    align-items: center;
    line-height: 1.6;
    //font-size: 1.3rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .data-type {
    font-weight: 600;
  }
}
