.one-day-weather {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;

  .subheader {
    font-size: 1.4rem;
    color: var(--white-2);
  }

  .header {
    font-size: 5rem;
    letter-spacing: .2rem;
    color: var(--white-1);
    margin-top: -4rem;
    margin-bottom: -2rem;
  }
}


