<ng-container *ngIf="weatherData$ | async as today">
  <div *ngIf="today.city_name" class="one-day-weather">
    <p class="subheader">{{subHeader}}</p>
    <span class="header">{{today.city_name}}</span>
    <div class="weather-content">

      <big-weather-card
        [temperature]="today.temperature"
        [imgUrl]="today.weatherIconUrl">
      </big-weather-card>

      <app-extra-data-container>
        <app-extra-data-card *ngFor="let extraData of today.extraData"
          [imgUrl]="extraData.imgUrl"
          [title]="extraData.title"
          [data]="extraData.value">
        </app-extra-data-card>
      </app-extra-data-container>

    </div>
  </div>
</ng-container>
