<ng-container *ngIf="nextWeekData$ | async as nextWeekData">
  <div *ngIf="nextWeekData.dateRange" class="next-week">
    <div class="header-container">
      <span class="date-range">{{nextWeekData.dateRange}}</span>
      <span class="header">Next week</span>
    </div>

    <div class="days">
      <app-temperature-card
        *ngFor="let day of nextWeekData.weatherCards"
        [day]="day.dayOfWeek"
        [imageUrl]="day.weatherImgUrl"
        [temperature]="day.temperature">
      </app-temperature-card>
    </div>

    <div class="graph">
      <app-graph-container
        [values]="getGraphData(nextWeekData.weatherCards)">
      </app-graph-container>
    </div>

    <app-extra-data-container *ngIf="averageHumidity$ | async as averageHumidity">
      <app-extra-data-card
        [title]="'avg HR'"
        [imgUrl]="'assets/images/extra-data-icons/humidity.png'"
        [data]="averageHumidity + '%'">
      ></app-extra-data-card>
      <app-extra-data-card
        [title]="'avg HR'"
        [imgUrl]="'assets/images/extra-data-icons/humidity.png'"
        [data]="averageHumidity + '%'">
        ></app-extra-data-card>
      <app-extra-data-card
        [title]="'avg HR'"
        [imgUrl]="'assets/images/extra-data-icons/humidity.png'"
        [data]="averageHumidity + '%'">
        ></app-extra-data-card>
    </app-extra-data-container>

  </div>
</ng-container>
