.next-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .header {
    font-size: 4rem;
  }

  .days {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
    }

  }

  .average-temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 3.2rem;
    gap: 2rem;

    .result-container {
      .temperature {
        font-size: 4rem;
        line-height: 10.6rem;
      }
    }


    .averages-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

}
