<ng-container *ngIf="nextWeekData$ | async as nextWeekData">
  <div *ngIf="nextWeekData.dateRange" class="next-week">
    <span class="header">Next week</span>

    <div class="days">
      <app-temperature-card
        *ngFor="let day of nextWeekData.weatherCards"
        [day]="day.dayOfWeek"
        [imageUrl]="day.weatherImgUrl"
        [temperature]="day.temperature">
      </app-temperature-card>
    </div>

    <div class="graph">
      <app-graph-container
        [values]="getGraphData(nextWeekData.weatherCards)">
      </app-graph-container>
    </div>

    <app-extra-data-container>
      <app-extra-data-card></app-extra-data-card>
      <app-extra-data-card></app-extra-data-card>
      <app-extra-data-card></app-extra-data-card>
    </app-extra-data-container>

  </div>
</ng-container>
