.card {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  max-width: 8.5rem;
  padding: 0 1.8rem 0 1.8rem;
  width: 10rem;

  .icon {
    width: 5.2rem;
  }

  .title {
    line-height: 2.4rem;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
    opacity: .6;
    color: var(--black-1);
  }

  .temp-container {
    display: flex;
    color: var(--white-1);
  }

  .temperature {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-right: -.1rem;
  }

  .unit {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
