.average-temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  gap: 2rem;

  .result-container {
    display: flex;

    .temperature {
      font-size: 8rem;
      line-height: 10.6rem;
    }

    .unit {
      padding-top: 1rem;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }


  .average-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
