<div class="form-container">

  <div class="icon-container">
    <img class="weather-icon" src="../../../assets/images/cloudy-1.svg" alt="cloudy">
  </div>

  <form [formGroup]="locationForm">
    <select formControlName="country">
      <option *ngFor="let country of countries" [value]="country.code">
        {{ country.code }}
      </option>
    </select>
    <input
      type="text"
      id="city"
      formControlName="city"
      class="city input"
      name="city"
      placeholder="Please enter your location..."
    >
  </form>

</div>
