<div class="location">

  <div class="location__icon-container">
    <img class="location__weather-icon" src="../../../assets/images/cloudy-1.svg" alt="cloudy">
  </div>

  <form class="location__form" [formGroup]="locationForm">
    <select class="location__form-element location__select" formControlName="country">
      <option *ngFor="let country of countries" [value]="country.code">
        {{ country.code }}
      </option>
    </select>

    <div class="location__input-container">
      <input
        type="text"
        id="city"
        formControlName="city"
        class="location__form-element location__input"
        name="city"
        placeholder="Please enter your location...">

      <img
        class="location__search-icon"
        [ngClass]="{ opaque: locationForm.get('city')?.value }"
        src="../../../assets/images/search.svg" alt="search">
    </div>

  </form>
</div>
