$accent-color: #B5C7FF;
$text-color: #444;
$width: 9.5rem;
$height: 100%;
$font-size: 0.85em;
$border-color: #ddd;
$border-radius: 6px;

.dropdown-collection {
  width: $width;
  position: relative;
  margin-right: 6px;

  @media only screen and (max-width: 600px) {
    margin-right: 3px;
  }

  .dropdown-button {
    position: relative;
    border-radius: $border-radius;
    height: 4.8rem;
    border: var(--border-1);
    background-color: var(--white-3);
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    display: flex;
    width: 100%;
    cursor: pointer;
    background-size: 10px;
    background-position: right 16px bottom 45%;
    background-repeat: no-repeat;

    &:focus {
      outline: var(--outline-1);
    }
  }

  .button-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    gap: 2px;
  }

  .dropdown-value {
    font-weight: 600;
    margin-left: 6px;
    margin-right: 6px;
    width: 1rem;
  }

  .dropdown-image {
    width: 2rem;
    border-radius: 3px;
    border: 1px solid var(--black-2);
  }

  .dropdown-list {
    border-radius: $border-radius;
    display: none;
    background: var(--white-3);
    list-style: none;
    border: 1px solid $accent-color;
    box-shadow: 0 0 15px -1px fade_out($accent-color, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 10;
    right: 0;
    margin: 0;
    transform: translateY(100%);

    li {
      position: relative;
      background: var(--background-3);
      padding: 2px;
      cursor: pointer;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:hover {
        background: fade_out($accent-color, 0.6);
      }
    }

    .list-item-content {
      display: flex;
      align-items: center;
      width: 67%;

      span {
        margin-left: 1rem;
      }
    }

    &.dropdown-open {
      display: block;
    }
  }
}
