$content-max-width: 60rem;

.app {
  background: linear-gradient(60deg, #102F7E 0%, #0C8DD6 33%, #B4DEDA 77%, #FFD66B 100%);
  display: flex;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
  padding-bottom: 2rem;

  @media only screen and (max-width: 1300px) {
    flex-direction: column;
    gap: 0;
  }

  .left-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 1rem 0;
    width: 100%;

    @media only screen and (max-width: 1300px) {
      justify-content: center;
      flex: 0;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 0;
      padding: 0;
    }

    .left-side-content {
      width: $content-max-width;
      display: flex;
      flex-direction: column;

      .next-week-temperatures {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 900px) {
          flex-wrap: wrap;
        }
      }
    }
  }

  .right-side {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    @media only screen and (max-width: 1300px) {
      justify-content: center;
    }

    @media only screen and (max-width: 1200px) {
      width: 95%;
    }

    .right-side-content {
      width: $content-max-width;
      border-radius: 1.6rem;
      background-color: rgba(0, 0, 0, 0.2);
      height: 80%;
    }
  }
}

