<div class="app" gradientBackground>
  <div class="content">
    <section class="location-selection">
      <app-location-picker
        (locationChanged)="updateForecast($event)"
        [countries]="getAvailableCountries()"
        [loading]="loadingWeatherData"></app-location-picker>
    </section>

    <ng-container *ngIf="averageTemperatureCard.temperatureValue && averageTemperatureCard.title">
      <section class="average-temperature">
        <app-temperature-card
          [bigCard]="true"
          [title]="averageTemperatureCard.title"
          [temperature]="averageTemperatureCard.temperatureValue">
        </app-temperature-card>
      </section>
    </ng-container>

    <ng-container *ngIf="nextSevenDays.length">
      <section class="next-week-temperatures">
        <app-temperature-card
          *ngFor="let forecast of nextSevenDays"
          [title]="forecast.title"
          [temperature]="forecast.temperatureValue">
        </app-temperature-card>
      </section>
    </ng-container>

  </div>
</div>
