<div>

  <section class="location-picker">
    <app-location-picker-form></app-location-picker-form>
  </section>

  <section class="average-temperature">
    <app-average-temperature-card></app-average-temperature-card>
  </section>

  <section class="daily-temperatures">
    <app-daily-temperature-card></app-daily-temperature-card>
    <app-daily-temperature-card></app-daily-temperature-card>
    <app-daily-temperature-card></app-daily-temperature-card>
    <app-daily-temperature-card></app-daily-temperature-card>
    <app-daily-temperature-card></app-daily-temperature-card>
    <app-daily-temperature-card></app-daily-temperature-card>
    <app-daily-temperature-card></app-daily-temperature-card>
  </section>

</div>
