$wrapper-element-height: 60vh;
$wrapper-margin: 0 2rem 0 2rem;

.app {
  background: linear-gradient(150deg, #102F7E 0%, #0C8DD6 33%, #B4DEDA 77%, #FFD66B 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .left-side {
    flex: 1;
    height: $wrapper-element-height;
    //background-color: red;
    margin: $wrapper-margin;
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    width: 100%;

    @media only screen and (max-width: 600px) {
      margin-top: 0;
      padding: 0;
    }

    .left-content {
      width: 65.2rem;
      display: flex;
      flex-direction: column;
      //align-items: center;

      @media only screen and (max-width: 900px) {
        width: 95%;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      .location-selection {
        width: 100%;
      }

      .next-week-temperatures {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 900px) {
          flex-wrap: wrap;
        }
      }
    }
  }

  .right-side {
    flex: 1;
    height: $wrapper-element-height;
    background-color: #000000;
    opacity: 0.5;
    margin: $wrapper-margin;
    border-radius: 1.6rem;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      width: 95%;
    }
  }

}

