<div class="app" gradientBackground>
  <div class="content">
    <section class="location-selection">
      <app-location-picker
        (locationChanged)="updateForecast($event)"
        [countries]="countries"
        [loading]="loadingWeatherData"></app-location-picker>
    </section>

    <ng-container *ngIf="averageTempForecast$ | async as averageTemp">
        <section *ngIf="averageTemp.title" class="average-temperature">
          <app-temperature-card
            [bigCard]="true"
            [title]="averageTemp.title"
            [temperature]="averageTemp.temperatureValue">
          </app-temperature-card>
        </section>
    </ng-container>

    <ng-container *ngIf="nextWeekForecast$ | async as nextWeekForecast">
      <section  *ngIf="nextWeekForecast.length" class="next-week-temperatures">
        <app-temperature-card
          *ngFor="let forecast of nextWeekForecast"
          [title]="forecast.title"
          [temperature]="forecast.temperatureValue">
        </app-temperature-card>
      </section>
    </ng-container>

  </div>
</div>
