.forecast {
  display: flex;
  color: var(--white-1);
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.8rem;
  margin-bottom: 3rem;

  .icon {
    width: 5.2rem;
  }

  .text-content {
    display: flex;
  }

  .temperature {
    padding-top: 1rem;
    font-size: 4.5rem;
    line-height: 3.2rem;
  }

  .unit {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
