<form class="form" [formGroup]="form">
  <div class="select-container">
    <app-custom-select
      [options]="dropdownOptions"
      [imageFolderUrl]="dropdownImageFolder"
      (currentValueChange)="setOption($event)">
    </app-custom-select>
  </div>

  <div class="input-container">
    <input
      type="text"
      id="textInputValue"
      formControlName="textInputValue"
      class="form-element input"
      name="textInputValue"
      placeholder="{{placeholder}}">

    <img
      *ngIf="!loading; else loader"
      class="search-icon"
      [ngClass]="{ opaque: !form.get('textInputValue')?.value }"
      src="assets/images/search.svg" alt="search">

    <ng-template #loader>
      <img class="search-icon rotate" src="assets/images/loading.svg" alt="loader">
    </ng-template>
  </div>
</form>
