.form {
  flex: 1;
  display: flex;

  .form-element {
    border: var(--border-1);
    border-radius: 6px;
    height: 4.8rem;
    padding: .7rem 2rem;
    background-color: var(--white-3);

    &:focus {
      outline: var(--outline-1);
    }
  }

  .input-container {
    position: relative;
    flex: 1;
    margin-right: 1.8rem;
  }

  .input {
    width: 100%;
    margin-right: -4rem;
    position: relative;

    &::placeholder {
      @media only screen and (max-width: 400px) {
        font-size: 1.2rem;
      }

      @media only screen and (max-width: 370px) {
        font-size: 1.1rem;
      }
    }
  }

  .search-icon {
    position: absolute;
    top: 1.3rem;
    width: 1.9rem;
  }

  .rotate {
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
