@use '@angular/material' as mat;
@include mat.core();

$weather-app-primary: mat.define-palette(mat.$indigo-palette);
$weather-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$weather-app-warn: mat.define-palette(mat.$red-palette);

$weather-app-theme: mat.define-light-theme((
  color: (
    primary: $weather-app-primary,
    accent: $weather-app-accent,
    warn: $weather-app-warn,
  )
));

@include mat.all-component-themes($weather-app-theme);

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

:root {
  --black-1: #000000;
  --black-2: #08153E;

  --white-1: rgba(255, 255, 255, 1);
  --white-2: rgba(255, 255, 255, .5);
  --white-3: rgba(255, 255, 255, .6);

  --border-1: none;
  //--border-1: 1px solid #08153E;
  --border-2: 1px solid rgba(8, 21, 62, 0.05);

  --outline-1:  2px solid #B5C7FF;

  --text-color-1: #08153E;
  --text-color-2: #08153E;

  --shadow-1: 0 2px 10px rgba(8, 21, 62, 0.15);
  --shadow-2: 0 2px 10px rgba(8, 21, 62, .3);

  --background-1: rgba(0, 0, 0, 0.2);
  --background-2: rgba(23, 23, 23, 0.2);
  --background-3: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 2.4;
  width: 100vw;
  height: 100vh;
}

input {
  font-family: "Poppins", "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

select {
  font-family: "Poppins", "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.opaque {
  opacity: 0.5;
}
