<ng-container *ngIf="forecast$ | async as weather">
  <div *ngIf="weather.dateRange" class="multi-day-forecast">
    <div class="header-container">
      <span class="date-range">{{weather.dateRange}}</span>
      <span class="header">{{header}}</span>
    </div>

    <div class="days">
      <small-weather-card
        *ngFor="let f of weather.forecasts"
        [title]="f.dayOfWeek"
        [imgUrl]="f.weatherImg"
        [weatherDescription]="f.weatherDescription"
        [temperature]="f.temperature">
      </small-weather-card>
    </div>

    <div *ngIf="showGraph" class="graph">
      <graph-container
        [values]="weather.graphData"
        [title]="'temperature'">
      </graph-container>
    </div>

    <extra-data-container *ngIf="showAverages">
      <extra-data-card *ngFor="let avg of weather.averages"
        [title]="avg.title"
        [imgUrl]="avg.imgUrl"
        [data]="avg.value">
      </extra-data-card>
    </extra-data-container>

  </div>
</ng-container>
